/*

* Based on Cover by https://twitter.com/mdo"  @mdo
*
* Globals

*/
@import url('https://fonts.googleapis.com/css?family=Oxygen');



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #FFFFFF;
  text-align: center;
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
 
}

.cover-heading{
	font-family: Oxygen;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
          /* box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle; 
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

/*
 * Affix and center
 */


.footer ul{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	padding-bottom: 0; 
	margin-bottom: 0;
    background-color: #333;
	overflow: auto;
}

li{
    float:left;
    padding: 0;
	margin:0;
	overflow: auto;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
	margin:0;
}

li a:hover{
    background-color: #111;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
