
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
    /*this is the box size fix, so that the height/width is ok*/
    box-sizing: border-box;
    
    /*some fuckery here to make the footer behave correctly depending on the amount of stuff on the page.*/
    min-height:100%;
    position:relative;
    
    /*background-color:#665F5C;*/
}




 html body{
     /*this is just getting rid of the white border on pages*/
    margin: 0;
    padding: 0;
	
    /*i think this makes room for the footer bar - gives nice spacing*/
    padding-bottom: 6rem;
}

.header-1{
	
	/*serif font for titles*/
    font-family:Oxygen ;
    
	font-size:5em;
    /*this is so that it is near the top*/
    margin-top:0;
    padding:1em;
    text-align:center;
}

/*
*body formatting and shit
*/
h1{
    /*serif font for titles*/
    font: Georgia ;
    
    /*this is so that it is near the top*/
    margin-top:0;
    padding:1em;
    text-align:center;
    
}



p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    
}

/* img.bg { */
  /* /* Set rules to fill background */ */
  /* min-height: 10%; */
  /* min-width: 1024px; */
	
  /* /* Set up proportionate scaling */ */
  /* width: 100%; */
  /* height: auto; */
	
  /* /* Set up positioning */ */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
/* } */

/* @media screen and (max-width: 1024px) { /* Specific to this particular image */ */
  /* img.bg { */
    /* left: 50%; */
    /* margin-left: -512px;   /* 50% */ */
  /* } */
/* } */

/* .content{ */
    /* padding-left:15%; */
    /* padding-right:15%; */
    /* width:70%; */
/* } */


/* this is to make the text on the team page center itself */

.vertical-align{
	display: flex;
	align-items: center;
}



.centering{
	text-align:center;
}


.intro-pic{
	max-width:100%;
	height:auto;
}

/* this is css to center the text descriptions on the team page. */
/* .teamtext-parent{ */
	/* display: flex; */
	/* height: auto; */
/* } */
.vertical-align{
	display: flex;
	align-items: center;
}
.center-teamtext{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	}



/*This is the Navbar code*/
.navbar ul{
	position: relative;
    list-style-type: none;
    margin: 0;
	margin-left: 0;
	padding-left: 0;
    padding: 0;
    background-color: #333;
    overflow:hidden;
}

li{
    float:left;
    
}

.nopading {
	padding:0 !important;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}




/*footer code*/

.footer ul{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	/* padding-bottom: 0; */
	margin-bottom: 0;
    background-color: #333;
}


